.flatpickr-calendar {
  background: transparent;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 0;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 315px;
  box-sizing: border-box;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);

  &.open, &.inline {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    max-height: 640px;
  }

  &.open {
    display: inline-block;
    animation: flatpickrFadeInDown 300ms cubic-bezier(0, 1, 0.5, 1);
    z-index: 99999;
  }

  &.inline {
    display: block;
    position: relative;
    top: 2px;
  }

  &.static {
    position: absolute;
    top: calc(100% + 2px);

    &.open {
      z-index: 999;
      display: block;
    }
  }

  &.hasWeeks {
    width: auto;
  }

  &.showTimeInput.hasTime {
    .flatpickr-time {
      height: 40px;
      border-top: 1px solid #e6e6e6;
    }

    .flatpickr-innerContainer {
      border-bottom: 0;
    }

    .flatpickr-time {
      border: 1px solid #e6e6e6;
    }
  }

  &.noCalendar.hasTime .flatpickr-time {
    height: auto;
  }

  &:before, &:after {
    position: absolute;
    display: block;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    left: 22px;
  }

  &.rightMost {
    &:before, &:after {
      left: auto;
      right: 22px;
    }
  }

  &:before {
    border-width: 5px;
    margin: 0 -5px;
  }

  &:after {
    border-width: 4px;
    margin: 0 -4px;
  }

  &.arrowTop {
    &:before, &:after {
      bottom: 100%;
    }

    &:before {
      border-bottom-color: #e6e6e6;
    }

    &:after {
      border-bottom-color: #42a5f5;
    }
  }

  &.arrowBottom {
    &:before, &:after {
      top: 100%;
    }

    &:before {
      border-top-color: #e6e6e6;
    }

    &:after {
      border-top-color: #42a5f5;
    }
  }
}

.flatpickr-wrapper {
  position: relative;
  display: inline-block;
}

.flatpickr-month {
  border-radius: 5px 5px 0 0;
  background: #42a5f5;
  color: #fff;
  fill: #fff;
  height: 28px;
  line-height: 24px;
  text-align: center;
  position: relative;
  user-select: none;
}

.flatpickr-prev-month, .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  height: 16px;
  line-height: 16px;
}

.flatpickr-prev-month i, .flatpickr-next-month i {
  position: relative;
}

.flatpickr-prev-month.flatpickr-prev-month {
  /*
          /*rtl:begin:ignore*/
  /*
          */
  left: calc(3.57% - 1.5px);

  /*
          /*rtl:end:ignore*/
  /*
          */
}

.flatpickr-next-month {
  &.flatpickr-prev-month {
    /*
            /*rtl:begin:ignore*/
    /*
            */
    left: calc(3.57% - 1.5px);

    /*
            /*rtl:end:ignore*/
    /*
            */

    /*
            /*rtl:begin:ignore*/
    /*
            */
    right: calc(3.57% - 1.5px);

    /*
            /*rtl:end:ignore*/
    /*
            */
  }

  &.flatpickr-next-month {
    /*
            /*rtl:begin:ignore*/
    /*
            */
    right: calc(3.57% - 1.5px);

    /*
            /*rtl:end:ignore*/
    /*
            */
  }
}

/*
        /*rtl:begin:ignore*/
/*
        /*rtl:end:ignore*/

/*
        /*rtl:begin:ignore*/
/*
        /*rtl:end:ignore*/

.flatpickr-prev-month:hover, .flatpickr-next-month:hover {
  color: #bbb;
}

.flatpickr-prev-month:hover svg, .flatpickr-next-month:hover svg {
  fill: #f64747;
}

.flatpickr-prev-month svg, .flatpickr-next-month svg {
  width: 14px;
}

.flatpickr-prev-month svg path, .flatpickr-next-month svg path {
  transition: fill 0.1s;
  fill: inherit;
}

.numInputWrapper {
  position: relative;
  height: auto;

  input, span {
    display: inline-block;
  }

  input {
    width: 100%;
  }

  span {
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    cursor: pointer;
    border: 1px solid rgba(72, 72, 72, 0.05);
    box-sizing: border-box;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &:active {
      background: rgba(0, 0, 0, 0.2);
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 33%;
    }

    &.arrowUp {
      top: 0;
      border-bottom: 0;

      &:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid rgba(72, 72, 72, 0.6);
      }
    }

    &.arrowDown {
      top: 50%;

      &:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid rgba(72, 72, 72, 0.6);
      }
    }

    svg {
      width: inherit;
      height: auto;

      path {
        fill: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);

    span {
      opacity: 1;
    }
  }
}

.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  top: 5px;
  display: inline-block;
  text-align: center;

  span.cur-month {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    margin-left: 7px;
    padding: 0;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  .numInputWrapper {
    width: 6ch;
    width: 7ch\0;
    display: inline-block;

    span {
      &.arrowUp:after {
        border-bottom-color: #fff;
      }

      &.arrowDown:after {
        border-top-color: #fff;
      }
    }
  }

  input.cur-year {
    background: transparent;
    box-sizing: border-box;
    color: inherit;
    cursor: default;
    padding: 0 0 0 0.5ch;
    margin: 0;
    display: inline;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    line-height: inherit;
    height: initial;
    border: 0;
    border-radius: 0;
    vertical-align: initial;

    &:focus {
      outline: 0;
    }

    &[disabled] {
      font-size: 100%;
      color: rgba(255, 255, 255, 0.5);
      background: transparent;
      pointer-events: none;

      &:hover {
        font-size: 100%;
        color: rgba(255, 255, 255, 0.5);
        background: transparent;
        pointer-events: none;
      }
    }
  }
}

.flatpickr-weekdays {
  background: #42a5f5;
  text-align: center;
  overflow: hidden;
}

.flatpickr-days, .flatpickr-weeks {
  padding: 1px 0 0 0;
}

.flatpickr-days {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 315px;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-around;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  box-sizing: border-box;
  color: #484848;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  display: inline-block;
  position: relative;
  justify-content: center;
  text-align: center;

  &.inRange, &.prevMonthDay.inRange, &.nextMonthDay.inRange, &.today.inRange, &.prevMonthDay.today.inRange, &.nextMonthDay.today.inRange, &:hover, &.prevMonthDay:hover, &.nextMonthDay:hover, &:focus, &.prevMonthDay:focus, &.nextMonthDay:focus {
    cursor: pointer;
    outline: 0;
    background: #e2e2e2;
    border-color: #e2e2e2;
  }

  &.today {
    border-color: #bbb;

    &:hover, &:focus {
      border-color: #bbb;
      background: #bbb;
      color: #fff;
    }
  }

  &.selected, &.startRange, &.endRange, &.selected:focus, &.startRange:focus, &.endRange:focus, &.selected:hover, &.startRange:hover, &.endRange:hover, &.selected.prevMonthDay, &.startRange.prevMonthDay, &.endRange.prevMonthDay, &.selected.nextMonthDay, &.startRange.nextMonthDay, &.endRange.nextMonthDay {
    background: #42a5f5;
    color: #fff;
    border-color: #42a5f5;
  }

  &.selected.startRange, &.startRange.startRange, &.endRange.startRange {
    border-radius: 50px 0 0 50px;
  }

  &.selected.endRange, &.startRange.endRange, &.endRange.endRange {
    border-radius: 0 50px 50px 0;
  }

  &.selected.startRange.endRange, &.startRange.startRange.endRange {
    border-radius: 50px;
  }

  &.inRange {
    border-radius: 0;
    box-shadow: -5px 0 0 #e2e2e2, 5px 0 0 #e2e2e2;
  }

  &.disabled {
    pointer-events: none;

    &:hover {
      pointer-events: none;
      color: rgba(72, 72, 72, 0.3);
      background: transparent;
      border-color: transparent;
      cursor: default;
    }

    color: rgba(72, 72, 72, 0.3);
    background: transparent;
    border-color: transparent;
    cursor: default;
  }

  &.prevMonthDay, &.nextMonthDay {
    color: rgba(72, 72, 72, 0.3);
    background: transparent;
    border-color: transparent;
    cursor: default;
  }

  &.notAllowed {
    color: rgba(72, 72, 72, 0.3);
    background: transparent;
    border-color: transparent;
    cursor: default;

    &.prevMonthDay, &.nextMonthDay {
      color: rgba(72, 72, 72, 0.3);
      background: transparent;
      border-color: transparent;
      cursor: default;
    }
  }
}

span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  color: rgba(0, 0, 0, 0.54);
  height: 27.333333333333332px;
  line-height: 24px;
  margin: 0;
  background: #42a5f5;
  text-align: center;
  display: block;
  float: left;
  width: 14.28%;
  font-weight: bold;
  margin: 0;
  padding-top: 3.333333333333333px;
}

.rangeMode .flatpickr-day {
  margin-top: 1px;
}

.flatpickr-weekwrapper {
  display: inline-block;
  float: left;

  .flatpickr-weeks {
    padding: 1px 12px 0 12px;
    border-left: 1px solid #e6e6e6;
    box-shadow: 1px 0 0 #e6e6e6;
  }

  .flatpickr-weekday {
    float: none;
    width: 100%;
  }

  span.flatpickr-day {
    display: block;
    width: 100%;
    max-width: none;
  }
}

.flatpickr-innerContainer {
  display: block;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
}

.flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.33s cubic-bezier(0, 1, 0.5, 1);
  display: flex;
  background: #fff;
  border-radius: 0 0 5px 5px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .numInputWrapper {
    flex: 1;
    width: 40%;
    height: 40px;
    float: left;

    span {
      &.arrowUp:after {
        border-bottom-color: #484848;
      }

      &.arrowDown:after {
        border-top-color: #484848;
      }
    }
  }

  &.hasSeconds .numInputWrapper {
    width: 26%;
  }

  &.time24hr .numInputWrapper {
    width: 49%;
  }

  input {
    background: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    cursor: pointer;
    color: #484848;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;

    &.flatpickr-hour {
      font-weight: bold;
    }

    &.flatpickr-minute, &.flatpickr-second {
      font-weight: 400;
    }

    &:focus {
      outline: 0;
      border: 0;
    }
  }

  .flatpickr-time-separator {
    height: inherit;
    display: inline-block;
    float: left;
    line-height: inherit;
    color: #484848;
    font-weight: bold;
    width: 2%;
    user-select: none;
  }

  .flatpickr-am-pm {
    height: inherit;
    display: inline-block;
    float: left;
    line-height: inherit;
    color: #484848;
    font-weight: bold;
    width: 2%;
    user-select: none;
    outline: 0;
    width: 18%;
    cursor: pointer;
    text-align: center;
    font-weight: 400;

    &:hover, &:focus {
      background: #ececec;
    }
  }
}

.hasWeeks .flatpickr-days, .hasTime .flatpickr-days {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.hasWeeks .flatpickr-days {
  border-left: 0;
}

@media all and (-ms-high-contrast: none) {
  .flatpickr-month {
    padding: 0;

    svg {
      top: 0 !important;
    }
  }
}

.flatpickr-input[readonly] {
  cursor: pointer;
}

@-moz-keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@-o-keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}