<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>{$labels["menu-title"]|escape}</title>
<link rel="shortcut icon" href="../favicon.ico">

<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../assets/js/flatpickr.js"></script>
<script type="text/javascript" src="../assets/js/modaal.min.js"></script>
<script type="text/javascript" src="../assets/js/functions.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</head>

<body id="">
    <!-- header読込部 -->
    <header id="header">
{if $smarty.session.loginUserType == '1'}{include file='common/header-admin.tpl'}{else}{include file='common/header-worker.tpl'}{/if}
    </header>

    <!-- メインコンテンツ -->
    <div class="contents">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <div id="btm">
                    <h2>●利用規約●</h2>
                    <pre id="rules" class="terms-contents-en" style="
    border: 1px solid #CCCCCC;
    padding: 30px 25px;
    overflow: scroll;
    /* margin-bottom: 25px; */
    height: 600px;
    white-space: pre-wrap;
    background-color: white;
">
ようこそTalent Asia (タレントアジア)へ。Talent Asiaで会員登録を行ったうえで会員向けサービスをご利用されるみなさま(下記、「会員」で定義されるもの。以下「会員」といいます)には、本規約に従ってTalent Asiaのサービスをご利用いただきます。

■提供するサービス(Talent Asia　タレントアジア)について

「Talent Asia(タレントアジア)」とは、株式会社廣済堂ビジネスサポート(以下「弊社」といいます)が提供する、外国人労働者情報管理サービス等インターネット上の外国人労働者の在留資格に関する情報管理および、それに係る帳票の作成等を行う総合サイト「Talent Asia(タレントアジア)」 talent-asia.jp ドメインをURLとするサイトであり、以下「Talent Asia」といいます)およびこのサイトに付随する会員向けサービス、メール配信その他の在留資格取得支援関連サービスの総称をいいます(以下「本サービス」といいます)。会員は、自らの意思および責任のもと、Talent Asiaをご利用ください。会員は、Talent Asiaに入力した情報の内容についてその責任を負うものとします。

■雇用主提供情報

Talent Asiaにおいて会員の雇用主より提供され、保管されている書類データ等の情報は、その雇用主の責任で提供されるものですので、会員は、提供情報の最新性、真実性、合法性、安全性、適切性、有用性について弊社が何ら保証しないことをご了承いただき、自己の責任においてご利用ください。

■Talent Asia提供情報

弊社は、会員に対して、以下に関していずれについても保証するものではありません。

・Talent Asiaの提供に不具合やエラーや障害が生じないこと

・Talent Asiaから得られる情報等が正確なものであること

・Talent AsiaおよびTalent Asiaを通じて入手できる役務、情報などが会員の期待を満たすものであること

・本サービスの利用による、会員の出入国在留管理庁からの在留資格交付認定、在留資格変更許可または在留資格更新許可

■会員

1. Talent Asia会員とは、Talent Asiaに個人情報(「個人情報の取り扱いについて」にて定義するもの）、その他の情報を登録(以下「会員登録」といいます)し、弊社がこれを承認した方をいいます。会員は、この手続きを経ることにより、Talent Asia会員向けサービス(以下「会員サービス」といいます)を利用できるものとします。

2. 会員は、会員登録した時点で、本規約および「個人情報の取り扱いについて」の内容をすべて承諾したものとみなします。尚、不承諾の意思表示は、Talent Asiaへの会員登録をしないことを以ってのみ認められます。

■会員登録・会員の責任

1.会員は、自らの意思および責任によって会員となるものとします。

2.会員は、登録時に弊社がお知らせする方法に従って会員サービスを利用するものとします。

3.会員登録の際に入力した情報は、会員自らがその内容について責任を負うものとします。

4.会員は、会員サービスにおいて、登録した情報をいつでも変更、追加、削除することができます。

5.会員は、自らの意思によって会員サービスを利用し、利用に関わる全ての責任を負うものとします。

6.会員が本規約に違反したと弊社が判断した場合は、当該会員に対し事前に通知することなく、当該会員のTalent Asiaの全部または一部の利用を一時中止し、または当該会員情報の一部の削除、会員からの除名または再登録を拒否できるものとします。

7.一定期間(12ヶ月)以上ご利用が無い場合、「個人情報の取り扱いについて」に基づき、弊社が一方的に個人情報を破棄(登録情報抹消)することがあり、会員はそれを承諾するものとします。

■会員ID･パスワード

1.会員は、本サービスの利用に際し、会員が弊社に登録したIDおよびパスワードを入力するものとします。会員のID･パスワードの機密保持に関する責任は会員自身が負うものとします。

2.会員がID･パスワードを用いて行うすべての活動に関する責任は、会員自身が負うものとします。

3.会員は、自己のIDおよびパスワードを第三者に使用させることはできません。

4.弊社は、会員があらかじめ入力したID･パスワードと個々の利用時に入力したID･パスワードとの一致を確認して取り扱いした場合には、なりすまし、パスワード盗用その他会員以外の者の利用につき一切責任を負いません。

■禁止事項

会員は、本サービスにおいて以下の行為を行ってはならないものとします。

1.虚偽の情報を登録･提供する行為

2.他の会員、第三者または弊社の著作権、肖像権、その他知的所有権を侵害する行為

3.他の会員、第三者または弊社の財産、プライバシーを侵害する行為

4.他の会員、第三者または弊社を誹謗中傷する行為

5.他の会員、第三者または弊社に損害･不利益を与える行為

6.法令、規則、条例または公序良俗に反する行為、またはそのおそれのある行為

7.その他いかなる法に違反する行為、またはそのおそれのある行為

8.本サービスを通じて入手した情報を、複製、販売、出版その他私的利用の範囲を超えて使用する行為

9.本サービスを利用した、営利を目的とした情報提供等の行為

10.本サービスの運営を妨げる行為、または弊社の信頼を毀損する行為

11.その他、弊社が不適当とする行為

■弊社の責任

1.弊社は、本サービスの利用から会員に生じる一切の損害(精神的苦痛、事業の中断、またはその他の金銭的損失を含む一切の不利益)に関して、責任を負わないものとします。

2.弊社は、その他Talent Asiaを通じてアクセスできる第三者が提供するサイトおよびサービスにより生じる一切の損害につき、一切責任を負わないものとします。

3.前2項で、弊社が責任を負う場合があるとしても、それは弊社の故意または重過失により損害が発生した場合であり、かつ、その場合の弊社の責任は直接かつ通常の損害に限られるものとします。

■不可抗力

弊社は、通常講ずるべきウイルス対策では防止できないウイルス、停電、サーバ故障、回線障害、および天変地異、その他弊社の責めによらない事由(以下｢不可抗力｣といいます)により、Talent Asiaの利用に伴い会員に被害が生じた場合には、一切責任を負わないものとします｡また、弊社はこれらの不可抗力によって、弊社におけるデータが消去･変更されないことを保証できません。会員は弊社に提供したデータと同じ内容のデータを自己の責任において保存いただくようお願いします｡

■Talent Asiaのサービス変更等

1.弊社は、会員への事前の通知なくして、Talent Asiaのサービス内容変更、一時的もしくは長期的な中断、または終了することがあります。

2.弊社は、Talent Asiaのサービス内容の変更、一時的もしくは長期的な中断、または終了に関して、一切の責任を負わないものとします。

■規約の変更

1.弊社は、以下の場合に、弊社の裁量により、本規約を変更することができるものとします。

・本規約の変更が、すべての会員の一般の利益に適合するとき

・本規約の変更が、契約をした目的に反せず、かつ、変更の必要性、変更後の内容の相当性、変更の内容その他の変更に係る事情に照らして合理的なものであるとき

2.弊社は、前項による本規約の変更にあたり、変更後の本規約の効力発生日の１週間前までに、本規約を変更する旨および変更後の本規約の内容とその効力発生日を弊社ウェブサイト(URL： http://talent-asia.jp/ )に掲示します。

3.変更後の本規約の効力発生日以降にすべての会員が本サービスを利用したときは、すべての会員は、本規約の変更に承諾したものとみなします。

■準拠法

本規約の実施の際に適用する法律は､日本の国内法とします｡

■管轄裁判所

会員と弊社の間で訴訟の必要が生じた場合､訴額に応じ､東京簡易裁判所または東京地方裁判所を第一審の専属的合意管轄裁判所とします｡

【特記事項】

弊社は、会員からの問い合わせに対し、内容の如何に関わらず回答を行うかを、弊社の裁量で決めるものとします。


付則

本規約は2020年4月30日から実施します。
</pre>
                </div>
            </div>
        </div>
    </div> <!-- /.contents -->

    <!-- footer読込部 -->
    <footer id="footer">
{include file='common/footer.tpl'}
    </footer>
</body>
</html>
