@charset "utf-8";

/*doc
---
title: 共通パーツ
name: common
category:
---

このスタイルシートでは、ヘッダーやフッターなどに含まれる
共通パーツのCSSを定義しております。

*/


.contents {
	margin: 20px auto;
	/* max-width: 980px; */
	max-width: 1200px;
	padding: 10px;
	width: 100%;
}

.formbox-gap {
	.column {
		padding: 5px 10px;
	}
}

.formbox-tableview {
	.column {
		box-sizing: border-box;
		border: solid 1px #e0e0e0;
	}
}

.table {
	th {
		background-color: $white-ter;
		min-width: 240px;
		width: 10%;
	}
	th, td {
		@include mobile {
			display: block;
			width: 100%;
		}
	}
}
.responsive-list {
	th {
		min-width: 120px;
	}
	@include mobile {
		display: block;
		thead {
			display:block;
			float:left;
		}
		tbody {
			display: block;
			width: auto;
			overflow-x: auto;
			white-space: nowrap;
		}
		tfoot {
			display: none;
		}
		tr {
			display:inline-block;
			&:not(:first-child) {
				margin-left: -5px;
			}
		}
		td, th {
		border: solid 1px #dbdbdb;
		border-width: 1px !important;
		box-sizing: border-box;
		border-spacing: 0px;
		height: 60px;
		min-width: auto;
		padding:10px;
		width: auto !important;
		}
	}
}

.table-conf {
	th,td {
		padding: 10px;
	}
}

.is-text-complete {
	color: red;
	font-weight: bold;
	margin: 60px 0;
	text-align: center;
}

/* ラジオボタンやチェックボックスの余計な空白を削除 */
.is-checkradio[type="radio"],
.is-checkradio[type="checkbox"]{
	+ label {
		margin-right: 0.5em;
		margin-left: 0.0em;
	}
}

.input__subtext {
	margin-bottom: 10px;
	li {
		counter-increment: cnt;
		list-style-type:none;
		list-style-position:inside;
		padding-left: 1em;
		&:before {
			content: "(" counter(cnt) ") ";
			margin-left: -1em;
		}
	}
}

.has-text-alert {
	color: #FF6600 !important;
}

.acMenu {
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		right: 10px;
		width: 10px;
		height: 10px;
		border-top: 2px solid #4a4a4a;
		border-right: 2px solid #4a4a4a;
		transition: all 0.2s ease-in-out;
		-webkit-transform: translateY(-50%) rotate(45deg);
		transform: translateY(-50%) rotate(45deg);
	}
	&.open:after {
		transition: all 0.2s ease-in-out;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		top: 25%;
	}
}