@charset "utf-8";

/*doc
---
title: トップページ固有パーツ
name: tp01
category:
---

このスタイルシートでは、TOPページで利用している
パーツのCSSを定義しております。

*/
body[id*="FM01"] {
	/* ラジオボタンのラベルが折り返さないようにする */
	.check-radio-label label {
		white-space: nowrap;
	}
	.target-table {
		tr:last-child {
			border-bottom: solid 3px #dbdbdb;
		}
	}
}
body#A-FM01001 {
	.table {
		th:first-child {
			min-width: 40px;
		}
	}
}