@charset "utf-8";

/*doc
---
title: お知らせページ固有パーツ
name: if01
category:
---

このスタイルシートでは、お知らせページで利用している
パーツのCSSを定義しております。

*/
body[id*="IF01"] {
	.info__selectlist {
		border: solid 1px #e0e0e0;
		border-radius: $radius-large;
		height: 200px;
		overflow-y: scroll;
		padding: 10px;
		li {
			margin: 5px 0;
		}
	}
}