@charset "utf-8";

/*doc
---
title: トップページ固有パーツ
name: tp01
category:
---

このスタイルシートでは、TOPページで利用している
パーツのCSSを定義しております。

*/
body[id*="IN01"] {
	/* スイッチ 右寄せ */
	.button-right {
		margin-left: auto;
		width: 150px;
		height: 36px;
	}
}