@charset "utf-8";

/*doc
---
title: ログインページ固有スタイル
name: lg01
category:
---

このスタイルシートでは、ログインページで利用している
パーツのCSSを定義しております。

*/
body[id*="LG01"] {
	.login__text {
		color: #80868B;
		font-weight: bold;
		margin-left: 15px;
		position: absolute;
		top: -12px;
		z-index: 2;
	}
	.id__block {
		text-align: center;
		p {
			border: solid 1px #e0e0e0;
			border-radius: $radius-large;
			display: inline-block;
			font-size: small;
			font-weight: bold;
			padding: 5px 10px;
			text-align: left;
			width: 60%;
		}
	}
}
body[id*="C-LG01"]  {
	background: url('../img/login.png') 100% center no-repeat;
	background-size: cover;
	min-height: 100vh;

	.contents {
		margin: 0 auto;
	}
	.box {
		padding: 1.5rem 1.25rem 2rem 1.25rem;
	}

	.help__block {
		border-top: dashed 1px #e0e0e0;
		margin-top: 20px;
		padding: 10px;
	}
}