@charset "utf-8";

/*doc
---
title: トップページ固有パーツ
name: tp01
category:
---

このスタイルシートでは、TOPページで利用している
パーツのCSSを定義しております。

*/
body[id*="TP01"] {
	.sammary {
		border-radius: $radius-large;
		box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
		display: block;
		height: 200px;
		overflow-y: scroll;
		padding: 1.25rem;
		width: 100%;
		margin: 0 auto;

		@include mobile {
			height: auto;
			overflow-y: unset;
		}
	}
}