@charset "utf-8";

/*doc
---
title: 労働者管理　詳細ページ固有パーツ
name: wk02
category:
---

このスタイルシートでは、労働者管理の詳細ページで利用している
パーツのCSSを定義しております。

*/
body[id*="WK02"] {
	.sidemenu {
		flex-direction: row-reverse;
	}
	.menu {
		background-color: #3B4043;
		border: solid 1px #3B4043;
		border-radius: 4px;
		padding-bottom: 60px;
		.acMenu:after {
			border-top: 2px solid #ffffff;
			border-right: 2px solid #ffffff;
		}
		.acMenu:hover:after {
			border-top: 2px solid #3B4043;
			border-right: 2px solid #3B4043;
		}
		.menu-list {
			a {
				border-bottom: solid 1px #646566;
				color: #ffffff;
				padding: 20px 20px 10px 20px;
				&:hover {
					color: #3B4043;
				}
				&.is-active:hover {
					color: #ffffff;
				}
			}
		}
	}
}